.topListingContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

.cardsContainer {
    display: flex;
    width: 100%;
    gap: 1rem;
}

.topListingHeader {
    text-wrap: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}